@import url(/normalize.css);

html {
    height: 100%;
}

body { 
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
