@import url(/normalize.css);

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.chart {
  background: red;
  width: 50%;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
}

.chart div {
  background: black;
  display: inline-block;
  vertical-align: bottom;
}
